# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
*.release.properties

# IDE
.idea/
*.iml
.vscode/launch.json
.vscode/tasks.json
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log